@page
@model src.Areas.Profile.Pages.Tabs.SpecialistModel
@{    
    ViewData["Title"] = "Specialisten";    
    Layout = "~/Areas/Profile/Pages/_Layout.cshtml";    
} 
<h1>Pedagoog</h1>
@if(Model.IsPedagoog){
    <h2>U bent de pedagoog</h2>
    <label for="PedagoogId">Uw connectieCode is:</label>
    <input id="PedagoogId" type="text" value="@Model.pedagoog.Id" readonly>
    }else if(Model.heeftPedagoog){
    <h2>De gegevens van de pedagoog</h2>
    @if(Model.getSuccessvol()){
        <div class="alert alert-success" role="alert">
        De pedagoog is successvol toegevoegd!
        </div>
    }
    <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.pedagoog.LastName)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.pedagoog.LastName)
            </dd>
            </dl>
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.pedagoog.Email)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.pedagoog.Email)
            </dd>
        </dl>
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.pedagoog.PhoneNumber)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.pedagoog.PhoneNumber)
            </dd>
        </dl>
}else{
    @if(Model.getNietSuccessvol()){
        <div class="alert alert-danger" role="alert">
        De pedagoog kan niet gevonden worden, Probeer opnieuw  
        </div>
    }
    <h2>U heeft nog geen pedagoog</h2>
    <form asp-page-handler="ConnectWithPedagoog" method="Post">
        <label>Vul hier de verkregen code in van de pedagoog
        <input type="Text" name="id" alt="Voer verkregen code hier in"/></label>
        <input type="submit" value="Voeg toe" alt="Voeg ingevoerde pedagoog toe">
    </form>
}
