@model IEnumerable<Melding>

@{
    ViewData["Title"] = "Meldingen overzicht";
}
<div class="container">
<h1>Meldingen overzicht</h1>
<p>Hieronder staat een lijst met annonieme meldingen die zijn gemaakt over deze app</p>
@if((bool)ViewData["Verwijderd"]){
        <div class="alert alert-success" role="alert">
            Uw melding is successvol verwijderd!
        </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Lees meer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Verwijder</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>