@model Chat

<div class="container p-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form asp-action="CreateRoom">
                <h2>Maak een zelfhulpgroep aan.</h2>
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.LabelFor(model => model.Naam, htmlAttributes: new { @class = "control-label col-md-2" })
                    </dt>
                    <dd class="col-sm-10">
                        @Html.TextBoxFor(model => model.Naam, new { @class = "form-control", placeholder = "Naam van de groep", required = "required", pattern = @"^([a-zA-Z0-9_ !?]+)$"  })
                        @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.LabelFor(model => model.Beschrijving, htmlAttributes: new { @class = "control-label col-md-2" })
                    </dt>
                    <dd class="col-sm-10">
                        @Html.TextBoxFor(model => model.Beschrijving, new { @class = "form-control", placeholder = "Geef een beschrijving van de groep", required = "required", pattern = @"^([a-zA-Z0-9_ ?!]+)$"  })
                        @Html.ValidationMessageFor(model => model.Beschrijving, "", new { @class = "text-danger" })
                    </dd>
                </dl>

                <label asp-for="Onderwerp">
                    Selecteer een Onderwerp
                    <select asp-for="Onderwerp" type="text">
                        <option value="School">School</option>
                        <option value="Depressief">Depressief</option>
                        <option value="Slaaptekort">Slaaptekort</option>
                        <option value="ADD">ADD</option>
                        <option value="ADHD">ADHD</option>
                        <option value="Traumas">Traumas</option>
                        <option value="Autisme">Autisme</option>
                    </select>
                </label>
                <label asp-for="Leeftijdscategorie">
                    Selecteer een leeftijdscategorie
                    <select asp-for="Leeftijdscategorie" type="text">
                        <option value="-14">14 jaar of jonger</option>
                        <option value="14-17">14 tot 17 jaar</option>
                        <option value="18-21">18 tot 21 jaar</option>
                        <option value="21+">21 jaar of ouder</option>
                    </select>
                </label>
                <br/>
                <input class="btn btn-success" type="submit" value="maak nieuwe groep aan">
            </form>
        </div>
    </div>
</div>